{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<p>L'adresse et le mot de passe ne correspondent pas</p>
{% endif %}
<h2>Connexion</h2>
{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method = "post" action = "">
    {% csrf_token %}
    {{form.as_p}}
    <input type = "submit" value = "Connexion" class="button"/>
    <input type="hidden" name="next" value="{{ next }}">
</form>
{% if administration.clos %}
  <p><em>Le sondage étant clos, il n'est plus possible de créer un compte.</em></p>
{% else %}
  <p><em>Si vous n'avez pas encore de compte, il faut en créer un en cliquant sur le lien ci-dessous</em></p>
  <p><a href="{% url 'inscription' %}">Créer mon compte</a></p>
{% endif %}
<p><a href="{% url 'password_reset' %}">Mot de passe perdu ?</a></p>


{% endblock %}
