{% extends 'base.html' %}

{% block content %}
<h2>Réinitialisation de mot de passe</h2>
<p>Si l'adresse electronique que vous venez de fournir correspondant
  à un compte existant, un courrier électronique lui a été envoyé. Il contient
un lien permettant de réinitialiser votre mot de passe ainsi que le rappel de votre
identifiant (ou pseudonyme). Si vous ne le recevez pas, vérifiez vos spams.
Essayer aussi de créer votre compte (peut-être pensez-vous à tort qu'il existe déjà -- ou
peut-être avez-vous utilisé une autre adresse&nbsp;?).<br>
Pour des raisons de confidentialité, nous ne pouvons
pas certifier que adresse que vous avez fournie est bien liée à un compte existant.
En dernier recours, contactez le responsable du sondage</p>
{% endblock %}
