{% extends 'base.html' %}

{% block content %}
<p>Vous voici parvenu au terme de ce sondage. Merci d'avoir pris le temps d'y répondre !</p>
<p>Vous pouvez retourner au <a href="{% url 'sondage' %}">début du sondage</a> pour revoir, vérifier, et éventuellement modifier vos réponses.<br>
Déconnectez-vous pour rendre vos réponses parfaitement anonymes.
Vous pourrez néanmoins vous reconnecter et vous reconnecter à votre compte anonyme si vous vous souvenez de votre phrase secrète pour modfier vos réponses.
</p>
<h2>Fin</h2>
{% endblock %}
